# Unity YAML files
*.cs text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.physicsMaterial2D text eol=lf
*.guiskin text eol=lf
*.fontsettings text eol=lf
*.renderTexture text eol=lf
*.mixer text eol=lf
*.shadervariants text eol=lf
*.spriteatlas text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.pdf binary
*.wav binary
*.mp3 binary
*.ogg binary
*.fbx binary
*.obj binary
*.ttf binary
*.otf binary
